# Created by .ignore support plugin (hsz.mobi)
*.iml
.project
.settings/

# logs
*.log
.idea
npm-debug.log*

# dependencies
/node_modules

# cache files
.DS_Store
.npm

# middle compile files
/src/sprites/*

# build results
#/pub/
#/entry/

# local configs
lauch.json
.vscode


#nei
/mock/
#/plugins/*
dist/
/temp/
assets/tools/

package-lock.json

ignoreConfig.js


# Xcode
#
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
project.xcworkspace